.product-list-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.product-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.product-card-wrapper {
    width: 260px;
    height: 370px;
}

.product-list-pagination-container {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.product-list-pagination-container span {
    padding: 0.2rem 1rem;
    border: 1px solid #00ADB5;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.product-list-pagination-container button {
    background-color: #00ADB5;
    color: #ffffff;
    border: 1px solid #00ADB5;
    border-radius: 6px;
    padding: 0.4rem 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-list-pagination-container button:hover {
    background-color: #ffffff;
    color: #00ADB5;
    box-shadow: 0 0 10px rgba(0, 173, 181, 0.4);
}

@media (max-width: 1200px) {
    .product-list-container {
        grid-template-columns: repeat(3, 260px);
    }
}

@media (max-width: 768px) {
    .product-list-container {
        grid-template-columns: repeat(2, 260px);
    }
}

@media (max-width: 480px) {
    .product-list-container {
        grid-template-columns: repeat(1, 260px);
    }
}